.layout-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-form-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50vw;
  min-height: 400px;
  min-width: 300px; 
  max-width: 600px; 
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  margin: 0 auto;
}

.close-button {
  margin: 0 0 0 auto;
  overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 2em; height: 2em;
	border-radius: 50%;
	color: black;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;

  &:focus {
		outline: solid 0 transparent;
		box-shadow: 0 0 0 2px #1976d2
	}

  &:hover {
		background: rgba(29, 161, 142, .1)
	}
	
	&:before, &:after {
		position: absolute;
		top: 15%; 
    left: calc(50% - .0625em);
		width: .125em; 
    height: 70%;
		border-radius: .125em;
		transform: rotate(45deg);
		background: currentcolor;
		content: ''
	}
	
	&:after { transform: rotate(-45deg); }
}

.layout-form-container h1{
  text-align: center;
  margin-bottom: 20px;
}

.layout-form-container label {
  display: block;
  margin-bottom: 5px;
}

.layout-form-container input {
  width: calc(100% - 35px);
  border: 1px solid #d6d5d5;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 15px;
}

.password-container {
  display:flex;
  flex-direction:column;
}

.layout-form-container .signin-button, .signup-button, .reset-password-button {
  background-color: #1976d2;
  color: white;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.password-input-container {
  position: relative;
}

.password-show-button {
  position: absolute;
  right: 4%;
  top: 40%;
  transform: translateY(-50%);
  border: none;
  background-color: white;
}

.password-show-button:hover {
  text-decoration: underline;
}

a {
  font-weight: 500;
  color: #1976d2;
  text-decoration: underline;
}

.signin-additional-links, .signup-additional-links {
  display: flex;
  flex-direction: row;
  margin: 30px 0 10px;
}

@media (max-width: 800px) {
  .layout-form-container h1{
    font-size: x-large;
  }

  .signin-additional-links {
    flex-direction: column;
    margin: 15px auto;
  }

  .signup-additional-links {
    margin: 15px auto;
  }
}


.invalid-container {
  display:flex;
  flex-direction:column;
}

.invalid-container input{
  border: 1px solid red;
  margin-bottom: 0;
}

.invalid-container input:focus {
  border: 2px solid red;
  outline: none; 
}

.invalid-warning{
  color: red;
  margin: 0 0 0 auto;
  font-size: small;
}