.layout-form-container {
  min-height: 300px;
  max-width: 550px; 
}

.layout-form-container .description {
  font-size: small;
  margin: 10px auto 20px;
}

@media (max-width: 800px) {
  .layout-form-container .description {
    font-size:x-small;
  }
} 
