.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.reset-password-form-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50vw;
  min-height: 300px;
  min-width: 300px; 
  max-width: 550px; 
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  margin: 0 auto;
}
  
.reset-password-form-container h1{
  text-align: center;
}

.reset-password-form-container .description {
  font-size: small;
  margin: 20px auto 20px;
}

.reset-password-form-container label {
  display: block;
  margin-bottom: 5px;
}

.reset-password-form-container input {
  width: calc(100% - 35px);
  border: 1px solid #d6d5d5;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 15px;
}


.reset-password-form-container .reset-password-button {
  background-color: #5b6af5;
  color: white;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin-top: 15px;
}



@media (max-width: 800px) {
  .reset-password-form-container h1{
    font-size: x-large;
  }

  .reset-password-form-container .description {
      font-size:x-small;
  }
}
